.small-popup-block {
  position: absolute;
  max-width: 90%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  .popup-content-block {
    margin: 0;
  }
}

.small-popup-container {
  max-width: min(500px, 95vw) !important;
  height: auto !important;
  margin: auto auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 100vh) !important;

  .page {
    position: relative;
    height: auto;

    .page-content {
      height: auto;
      min-height: 10px;
      max-height: 66vh;
    }
  }
}

.small-popup-visible {
  transform: translate(-50%, -50%) !important;
}

@media (max-width: 630px) {
  .small-popup-container.popup {
    --f7-popup-border-radius: 28px !important;
  }
  .small-popup {
    max-width: 95vw !important;
  }

  .block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
