.small-popup-block {
  position: absolute;
  max-width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  .popup-content-block {
    margin: 0;
  }
}

.small-popup-container {
  max-width: 500px !important;
  height: 300px !important;
  margin: auto auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 100vw) !important;
}

.small-popup-visible {
  transform: translate(-50%, -50%) !important;
}

@media (max-width: 630px) {
  .small-popup {
    max-width: 95vw !important;
    border-radius: 28px;
  }

  .block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
