:root {
  --f7-panel-width: 400px;
}

@media (max-width: 420px) {
  :root {
    --f7-panel-width: 90vw;
  }
}
.coord-fab {
  position: fixed;
  right: 16px;
  bottom: 80px; /* Höhe POI-FAB (56px) + Abstand ~8px + Grundabstand (16px) */
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 700;
  z-index: 1000;
}

.coord-fab .button-inner,
.coord-fab span {
  white-space: nowrap;
  line-height: 1;
}

.poi-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 700;
}

.poi-fab .item-title,
.poi-fab span {
  white-space: nowrap;
  line-height: 1;
}

.poi-fab .button-inner {
  padding: 0;
}

@media (max-width: 420px) {
  .poi-fab {
    width: 48px;
    height: 48px;
    right: 12px;
    bottom: 12px;
  }

  .coord-fab {
    width: 48px;
    height: 48px;
    right: 12px;
    bottom: 68px; /* 48 + 12 + 8 */
  }
}

.nav-icon {
  width: 30px;
  height: 30px;
  padding: 10px;
}


/* Make the routing container look like a card (optional) */
.leaflet-routing-container.leaflet-bar {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 12px;
  overflow: hidden;
}

/* style the collapse button itself */
.leaflet-routing-collapse-btn {
}

/* kill the weird original glyph and inject our own */
.leaflet-routing-collapse-btn::before {
}
