.map-wrapper {
  height: calc(80vh - var(--f7-navbar-height) - var(--f7-toolbar-height, 0px) - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  width: 100%;
  min-height: 60vh;
}

.map-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background: #f5f5f5;
}
