.map-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: calc(var(--f7-navbar-height) + env(safe-area-inset-top));
  bottom: 0;
  z-index: 0;
}

.map-container {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  background: #f5f5f5;
}
