.poi-horizontal-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
}

.poi-vertical-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  flex: 1;
}

@media (max-width: 600px) {
  .poi-horizontal-box {
    flex-direction: column;
    align-items: center;
  }
}

.poi-image {
  width: clamp(100px, 20vw, 200px);
  height: clamp(100px, 20vw, 200px);
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 8px;
}
