.settings-example-title {
  padding-left: 10px;
  padding-bot: 0;
  margin-bot: 0;
}
.settings-example-list {
  h3 {
    padding-left: 20px;
    padding-bot: 0;
    margin: 0;
    margin-top: 5px;
  }
  p {
    padding: 0;
    margin: 0;
    margin-left: 40px;
  }

  background-color: var(--f7-block-strong-bg-color);
  margin: 20px;
  border-radius: 10px;
}
